@use '@scss/_variables' as *;
@use '@scss/_mixins' as *;

.header {
  width: 100%;
  height: 60px;
  padding: 10px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  z-index: 700;
  h1 {
    font-size: $font-size-2xl;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
}
