@use '@scss/_variables' as *;
@use '@scss/_mixins' as *;

.sidebar {
  width: 90%;
  height: 100svh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-primary;
  z-index: 800;
  transition: transform 0.2s ease;
}
.sidebar__open {
  transform: translateX(0);
}
.sidebar__close {
  transform: translateX(100%);
}
.hamburgerMenu {
  width: 45px;
  height: 30px;
  margin-left: 15px;
  position: fixed;
  bottom: 30px;
  right: 25px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-self: start;
  z-index: 900;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
}
.hamburgerMenu__close {
  flex-direction: column;
  justify-content: space-between;
  span {
    background-color: $color-black;
    &:nth-of-type(1) {
      transform: rotate(0deg);
    }
    &:nth-of-type(2) {
      opacity: 1;
    }
    &:nth-of-type(3) {
      transform: rotate(0deg);
    }
  }
}
.hamburgerMenu__open {
  span {
    position: absolute;
    background-color: $color-white;
    &:nth-of-type(1) {
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg);
    }
  }
}

@include responsive(pc) {
  .sidebar {
    width: 350px;
    left: 0;
  }
  .sidebar__open {
    transform: translateX(0);
  }
  .sidebar__close {
    transform: translateX(-100%);
  }
  .hamburgerMenu {
    top: 25px;
    left: 15px;
  }
}
