// ===== カラー =====
$color-primary: #343434;
$color-black: #000;
$color-white: #fff;

// Font Sizes
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem; // 36px

// ===== フォント =====
$font-noto-sans-jp: 'Noto Sans JP', sans-serif;

// ===== ブレークポイント =====
$breakpoint-sp: 768px;
$breakpoint-pc: 992px;
